<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le compagnon du diététicien</title>
  <link rel="stylesheet" href="../../public/css/reset.css">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="../../public/css/journalStyle.css">
  <script src="./../js/createJournal.js" defer></script>
</head>

<body>
  <header>
    <nav>
      <h1>
        <a href="/">Le compagnon du diététicien</a>
      </h1>
      <a href="/patients">Patients</a>
      <a href="/journals">Journaux alimentaires</a>
      <a href="/ciqualTable">Table des aliments</a>
    </nav>
  </header>

  <!-- <%- include ('partials/header') %> -->

  <main class="container">
    <h2>Ajout d'un journal</h2>

    <form action="" method="post" id="journal" class="container">

      <datalist id="dishes">
        <option value="Poulet"></option>
        <option value="Frite"></option>
      </datalist>

      <div id="patient-info">
        <fieldset id="patient__fullname">
          <label for="patient__fullname">Patient</label>
          <select name="patient__fullname" required>
            <optgroup label="Hommes">
              <option value="0">M. Robert Dujardin (12/01/1980)</option>
            </optgroup>
            <optgroup label="Femmes">
              <option value="1">Mme Jacqueline Marin (25/12/1952)</option>
            </optgroup>
          </select>
        </fieldset>
        <fieldset>
          <label for="patient__age">Âge</label>
          <input type="number" min="0" required>
        </fieldset>
        <fieldset>
          <label for="patient__weight">Poids</label>
          <input type="number" min="0" required>
        </fieldset>
      </div>

      <fieldset>
        <label for="start_date">Date de début</label>
        <input type="date" name="start_date" id="start-date">
      </fieldset>

      <div id="days-row">
        <div id="days">
          <div class="day">
            <div class="day-header">
              <img src="../../public/images/trash.svg" alt="Delete day" class="img-trash">
              <h4>Jour 1 (???)</h4>
              <div>
                <img src="../../public/images/arrow_left_off.svg" alt="Move to left" class="move-arrow --off">
                <img src="../../public/images/arrow_right.svg" alt="Move to right" class="move-arrow">
              </div>
            </div>
            <div class="meals-row">
              <div class="meals">
                <div class="meal">
                  <div class="meal-header">
                    <img class="img-clock" src="../images/clock.svg"></img>
                    <input type="time" name="day1-meal1__time" required>
                    <span>X</span>
                  </div>
                  <div class="meal-row">
                    <span>x</span>
                    <input list="dishes" name="day1-meal1-dish1__name" required>
                    <input class="dish__amount" type="number" step="10" name="day1-meal1-dish1__amount" required>
                    <span>g</span>
                  </div>
                  <input type="button" value="Ajouter un aliment">
                </div>
                <div class="meal">
                  <div class="meal-row">
                    <span>&#128336;</span>
                    <input type="time" name="day1-meal2__time" required>
                    <span>X</span>
                  </div>
                  <input type="button" value="Ajouter un aliment">
                </div>
                <input type="button" class="add-meal" value="Ajouter un repas">
              </div>
            </div>
          </div>
          <div class="day">
            <div class="day-header">
              <img class="img-trash" src="../../public/images/trash.svg" alt="Delete day">
              <h4>Jour 2 (???)</h4>
              <div class="day-header__move-buttons">
                <img src="../../public/images/arrow_left.svg" alt="Move to left" class="move-arrow">
                <img src="../../public/images/arrow_right.svg" alt="Move to right" class="move-arrow">
              </div>
            </div>
            <input type="button" value="Ajouter un repas">
          </div>
        </div>
        <input type="button" id="add-day" value="Ajouter un jour">
      </div>
      <button id="save-button" type="submit">Sauvegarder</button>
    </form>
  </main>

  <!-- <%- include ('partials/footer') %> -->