<%- include ('partials/header') %>

<script src="/js/journal/createJournal.js" defer></script>

<h2>Création de journal</h2>
<button id="new-journal">Créer un nouveau journal</button>

<%- include ('partials/footer') %>