<%- include ('partials/header') %>

<h2>Ajout d'un patient</h2>
<form action="" method="post" class="container">

  <%- include ('partials/patientFormFields', { patient: {} })%>

  <button type="submit">Créer le patient</button>

  <% if (typeof feedbackMessage !== 'undefined') { %>
    <mark><%= feedbackMessage %></mark>
  <% } %>

</form>

  <%- include ('partials/footer') %>