<%- include ('partials/header') %>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/fr.js"></script>
<script src="/js/journal/components/CoreObject.js" defer></script>
<script src="/js/journal/components/Dish.js" defer></script>
<script src="/js/journal/components/Meal.js" defer></script>
<script src="/js/journal/components/Day.js" defer></script>
<script src="/js/journal/components/Journal.js" defer></script>
<script src="/js/journal/editJournal.js" defer></script>

<h2>Édition de journal</h2>

<div id="journal">

  <datalist id="patients-datalist"></datalist>
  <datalist id="foods-datalist"></datalist>

  <form id="journal-form">
    <div id="patient-info">
      <input type="hidden" name="patient_id">
      <fieldset id="patient_fullname">
        <label>Patient</label>
        <input list="patients-datalist" name="patient_fullname" autocomplete="off" required>
      </fieldset>
      <fieldset>
        <label>Âge</label>
        <input type="number" name="patient_age" min="0" required>
      </fieldset>
      <fieldset>
        <label>Poids</label>
        <input type="number" name="patient_weight" min="0" required>
      </fieldset>
    </div>
    <fieldset>
      <label>Date de début</label>
      <input type="date" name="start_day">
    </fieldset>
  </form>
  
  <div id="days-row">
    <div id="days">
    </div>
    <input type="button" id="add-day" value="Ajouter un jour">
  </div>
</div>

<%- include ('partials/footer') %>