<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dietitian Companion</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Hello World!</h1>
  <br>
  <% for (food of foods) { %>
    <p><%= food.name_fr %></p>
  <% } %>
  <br>
  <aside>Anses. 2020. Table de composition nutritionnelle des aliments Ciqual téléchargée sur <a
      href="https://ciqual.anses.fr"> https://ciqual.anses.fr </a> le 5 janvier 2023.</aside>

</body>

</html>