<%- include ('partials/header') %> 

<h2>Bienvenue !</h2>

<h3 class="--is-danger">Avertissement !</h3>
<p>À ce jour, cette application n'est qu'en phase de prototypage et ne dispose pas encore de système d'authentification.</p>
<p>Par conséquent, l'ensemble des patients et journaux sont visibles de tous.</p>
<p>Merci de <strong><mark>ne pas utiliser de données réelles (nom et prénom) dans la création des profils de patients.</mark></strong></p>

<%- include ('partials/footer') %> 
